// See http://graphstream-project.org/doc/Advanced-Concepts/GraphStream-CSS-Reference

graph {
	fill-color: rgba(0,0,0,0); // transparent
    padding: 50px;
}

node {
    shape: circle;
	fill-color: #669999;
    size: 20;
    stroke-mode: plain;
    stroke-color: #555;
    stroke-width: 5px;
	text-color: black;
	text-size: 14;
    text-padding: 5px;
    text-alignment: under;
    text-offset: 0px, 10px;
    text-background-mode: rounded-box;
    text-background-color: #999999;
}

node.start {
	fill-color: #339933;
}

node.end {
	fill-color: #999999;
}

edge {
    size: 1px;
    fill-mode: plain;
	fill-color: #999999;
	text-color: #999999;
    arrow-shape: arrow;
    arrow-size: 10px, 5px;
}
