// See http://graphstream-project.org/doc/Advanced-Concepts/GraphStream-CSS-Reference

graph {
    padding: 20px;
}

node {
    shape: circle;
    size: 25px;
    stroke-mode: plain;
    stroke-color: #555;
    stroke-width: 5px;
    text-offset: 20px;
}

edge {
    size: 1px;
    fill-mode: plain;
    arrow-shape: arrow;
    arrow-size: 15px, 15px;
}
